@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QAInterviewTestApp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/reset.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/lib/core-js/client/shim.js"></script>
        <script src="~/lib/zone.js/dist/zone.js"></script>
        <script src="~/lib/reflect-metadata/Reflect.js"></script>
        <script src="~/lib/systemjs/dist/system.js"></script>

        <script src="~/js/systemjs.config.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/reset.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="~/lib/core-js/client/shim.min.js"></script>
        <script src="~/lib/zone.js/dist/zone.min.js"></script>
        <script src="~/lib/reflect-metadata/Reflect.min.js"></script>
        <script src="~/lib/systemjs/dist/system.src.js"></script>

        <script src="~/js/systemjs.config.min.js"></script>
    </environment>

    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>